@import "//fonts.googleapis.com/css?family=Economica:700|Droid+Serif:400,400italic,700,700italic|Josefin+Slab:400,700";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  border: 1.2em solid #000;
  height: auto !important; }

body {
  margin: 0 auto;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #000;
  line-height: 1.58; }

header {
  margin: 3em 0 0 0; }

article {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0; }

.home {
  width: 100%; }

.menu {
  text-align: right; }
  .menu li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    list-style-type: none;
    display: inline-block; }
    .menu li:after {
      content: " / ";
      padding: 0 1.5em; }
    .menu li:last-child:after {
      content: "";
      padding: 0; }

.post-list {
  width: 95%;
  text-align: left;
  margin: 4em auto;
  font-size: 0.9em; }
  .post-list th {
    text-transform: uppercase;
    font-weight: bold; }
  .post-list tr {
    border-bottom: 1px solid #000; }
    .post-list tr:hover {
      background: #1cbd49;
      cursor: pointer;
      color: #fff; }
  .post-list th, .post-list td {
    padding: 1em; }

h1 {
  font-size: 3em; }

p {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.55; }

blockquote p {
  padding: 1.2em;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em; }

code {
  background: #eee;
  padding: 0.2em 0.5em;
  border-radius: 5px; }

a {
  color: #1cbd49;
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover, a:active {
    text-decoration: underline; }

.title {
  font-size: 30vw;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal; }

.meta {
  font-size: 0.9em;
  color: #1cbd49; }

@media only screen and (max-width: 960px) {
  body {
    width: 95%;
    font-size: 0.8em; }

  article {
    width: 100%; } }
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em; }

  blockquote {
    padding: 0.5em;
    margin: 0;
    background: #eee; }
    blockquote p {
      padding: 0.2em;
      font-size: 1.4em;
      margin: 0; }

  article {
    margin-bottom: 50px; }

  .post-list td:first-child, .post-list th:first-child {
    display: none; } }

/*# sourceMappingURL=main.css.map */
