---
layout: default
---

<section class="section is-small">
  <div class="container">
    <div class="content is-large">
      <table class="table">
        <tbody>
          {% for post in site.posts %}
          <tr>
            <td>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <p class="is-hidden-tablet">
                <span class="tag is-light">{{ post.authors }}</span>
                <span class="tag is-white">{{ post.date | date: "%-d %b %Y" }}</span>
              </p>
            </td>
            <td class="has-text-right is-hidden-mobile">
              {% if post.authors %}
              <span class="tag is-light">{{ post.authors }}</span>
              {% endif %}
              <span class="tag is-white">{{ post.date | date: "%-d %b %Y" }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
