<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">{{ site.title }}</h1>
      <h5 class="subtitle is-size-5">Recorded below is a list of only {{ site.posts | size }} books' highlights that I have collected so far. But the number of books in my <a href="https://www.brainpickings.org/2015/03/24/umberto-eco-antilibrary/">antilibrary</a> keeps growing every day.</h5>

      <article class="message is-info is-medium">
        <div class="message-body">
          You will accumulate more knowledge and more books as you grow older, and the growing number of unread books on the shelves will look at you menacingly. Indeed, the more you know, the larger the rows of unread books. Let us call this collection of unread books an antilibrary.
          <br>
          <br>
          ~ Umberto Eco’s Antilibrary, <a href="https://www.amazon.com/Black-Swan-Second-Improbable-Incerto-ebook/dp/B00139XTG4">The Black Swan</a>
        </div>
      </article>
    </div>
  </div>
</section>
