<!DOCTYPE html>
<html>
{% include head.html %}
<body class="has-navbar-fixed-top">
  {% include nav.html %}
  <section class="is-medium">
    <div class="container">
      <div class="content is-large">
        <h1 class="title my-6">{{ page.title }}</h1>

        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium is-light">date</span>
              <span class="tag is-medium is-light is-warning">{{ page.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>

          {% if page.authors %}
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium is-light">authors</span>
              <span class="tag is-medium is-primary is-light">{{ page.authors }}</span>
            </div>
          </div>
          {% endif %}

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium is-light">reading time</span>
              {% assign words = content | number_of_words %}
              {% if words < 360 %}
              <span class="tag is-medium is-danger is-light">1 min</span>
              {% else %}
                <span class="tag is-medium is-danger is-light">{{ words | divided_by:180 }} mins</span>
              {% endif %}
            </div>
          </div>
        </div>

        {{ content }}
      </div>
    </div>
  </section>
</body>
</html>
