<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <section class="is-medium">
    <div class="container">
      <div class="content is-large">
        <p>{{ page.date | date: "%b %-d, %Y" }}</p>
      {% if page.author %}
        {{ page.author }}
      {% endif %}

      <p>{% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
          {{ words | divided_by:180 }} mins
        {% endif %}
      </p>

      <h1>{{ page.title }}</h1>

      {{ content }}
      </div>
    </div>
  </section>
</body>
</html>
